{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

{% block body %}
<form method="post">
      <div class="wrapper">
    <div class="form-signin">       
      <h2 class="form-signin-heading">GrillMaster</h2>
      {% if app.user %}
        <p>
            * Connecté en tant que {{ app.user.userIdentifier }}. <a href="/logout" style="border:0px;color: red;box-shadow: 0px">Déconnexion</a>
        </p>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
      <input type="text" class="form-control" name="username" placeholder="Utilisateur" required="" autofocus="" value="{{ last_username }}" id="inputUsername"/>
      <br/>
      <input type="password" class="form-control" name="password" placeholder="Mot de passe" required="" id="inputPassword" autocomplete="current-password"/>      
      <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>   
    <div><a href="/register">S'enregister</a></div>
    </div>
  </div>
  <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
</form>
</div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
