$primary:       #ffd862;

body {
    background: #ffe19f !important;
  }
  
  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 30px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type=text] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-signin input[type=password] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }




  // MODIFS NAVBAR BOOTSTRAP

  .text-logo {
    font-family: 'Courier New', Courier, monospace;
  }

  .navbar-custom {
    background-color:#1b1b1b;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav ul li a {
    color:#ffffff;
    padding-left:20px;
    padding-right:20px;
}

.navbar-custom .nav-item, .navbar-custom .nav-link,
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: $primary
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand {
  color: $primary
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#ffffff;
}